:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* width: 100% !important;
  height: 100% !important; */
  /* display: flex !important; */

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

input {
  line-height: 1.5 !important;
  border: none !important;
}

label {
  cursor: pointer;
  color: var(--gray-color) !important;
}

::before {
  border-bottom: none !important;
}

a {
  color: var(--main-color);
  font-weight: 500;
  font-size: 16px;
}

::after {
  border-bottom: none !important;
}

h1 h2 h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  color: var(--text-color) !important;
}

